:root {
  --grey: #5c5c5e;
  --white: #f6f4f5;
  --light-grey: #cacad6;
  --black: #070707;


  --font-family: "Helvetica", sans-serif;
  --second-family: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.section--title {
  text-transform: uppercase;
  font-weight: 400;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  line-height: 1.4;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto
}

/*! Header Start */

.header {
  border-bottom: 1px solid var(--light-grey);
}

.nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  height: 80px;
}

.menu {
  display: flex;
  gap: 20px;
}

.basket {
  justify-self: end;

  position: relative;

}

.basket span {
  font-size: 11px;
  width: 15px;
  height: 15px;
  background-color: black;
  color: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  right: -2px;
}

.logo {
  justify-self: center;
}


/*! Header End  */

/*! Main Start  */

.top {
  min-height: calc(100vh - 81px);

  background-image: url(../img/aboutBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.title {
  font-weight: 400;
  font-size: 96px;
  margin-bottom: 10px;
  padding-top: 16%;
}

.subtitle {
  font-size: 36px;
  margin-bottom: 5px;
}

.top__text {
  font-size: 13px;
  margin-bottom: 50px;
}

.buy__text {
  font-size: 13px;
  padding-top: 6px;
}

.buy-btn {
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  display: flex;
  text-transform: uppercase;
  padding: 1px;
}

.buy-btn__text {
  color: var(--white);
  padding: 21px 110px;
}

.buy-btn__price {
  background-color: var(--white);
  padding: 21px 105px;
}


.features {
  padding: 100px 0;
}

.features__titles {
  display: flex;
}

.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}

.features__text {
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  max-width: 360px;
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btn {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tabs__btn-item {
  font-weight: 700;
  margin-bottom: 20px;
}

.tabs__btn-item--active {
  color: var(--black);
}

.tabs__content {
  position: relative;
  min-height: 300px;
}

.tabs__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;

  opacity: 0;
  position: absolute;
  transition: opacitiy 0.3s ease;
}

.tabs__content-item--active {
  opacity: 1;
}

.tabs__content-box h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}

.tabs__content-img {
  grid-row: 1/-1;
  align-self: stretch;
}

.video {
  grid-column: 2/3;

  width: 280px;
  height: 150px;
  background-image: url(../img/contentBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 9px 10px;
}

.video__btn {
  margin-left: 22px;
}

.video span {
  font-size: 13px;
  color: var(--white);
}

.games {
  margin-bottom: 100px;
}

.game__title {
  margin-bottom: 50px;
}

.game__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game__descr {
  padding-right: 10px;
}

.game__descr-title {
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.game__descr-text {
  margin-bottom: 30px;
}

.game__link {
  font-weight: 700;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;

  border: 1px solid #bc10d8;
  padding: 16px 15px 12px;
  width: 225px;
  text-align: center;
}

.game__item {
  border: 1px solid #bc10d8;
  padding: 10px 20px 18px;
  display: flex;
  flex-direction: column;
}

.game__item-img {
  margin-bottom: 10px;
}

.game__item-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.game__item-text {
  margin-bottom: 30px;
}

.game__item-link {
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
}

.buy {
  margin-bottom: 110px;
  text-align: center;

  position: relative;

  overflow-x: hidden;
}

.buy__bg {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: clamp(100px, 20.83vw, 500px);
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  position: absolute;

  z-index: -1;

  animation: line-text 6s linear 1s infinite;
}

@keyframes line-text {
  from {
    transform: translateX(115%);
    transform-origin: left center;
  }

  to {
    transform: translateX(-115%);
    transform-origin: right center;
  }
}

.buy__img {
  margin-bottom: 30px;
}

.buy .buy-btn {
  margin: 0 auto;
}

.equipment {
  margin-bottom: 100px;
}

.equipment__title {
  margin-bottom: 50px;
}

.equipment__box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.equipment__box-item--one {
  grid-row: 1/-1;
}

.equipment__box-img {
  margin-bottom: 10px;
}

.equipment__box-title {
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promo {
  margin-bottom: 100px;
}

.promo__inner {
  background-image: url(../img/promo-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 500px;
  text-align: center;

  position: relative;

}

.promo__btn {
  font-weight: 700;
  color: #fff;
  border-radius: 100%;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.accessories {
  margin-bottom: 100px;
}

.accessories__title {
  margin-bottom: 30px;
}

.accessories__text {
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.accessories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.accessorie__item {
  padding: 20px;

  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accessorie__item-img {
  margin-bottom: 10px;
}

.accessorie__item-title {
  font-size: 24px;
  color: var(--black);
  min-height: 67px;
}

.accessorie__item-text {
  margin-bottom: 42px;
  margin-top: auto;
}

.accessorie__item-price {
  font-weight: 700;
  color: var(--black);
  margin-bottom: 20px;

  margin-right: auto;
}

.accessorie__item-btn {
  font-weight: 700;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;

  padding: 6px;
  text-align: center;
  width: 100%;

}

.contact {
  margin-bottom: 100px;
}

.contact__inner {
  display: flex;
}

.contact__box1-h2 {
  font-size: 24px;
  color: var(--black);
  margin-bottom: 9px;
}

.contact__box2 {
  margin-left: 411px;
  align-self: flex-end;
}

.contact__box1-email {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--black);
  padding: 27px 0 20px;
  margin-bottom: 10px;
}

.contact__box1-email::placeholder {
  color: rgba(111, 111, 111, 0.5);
}

.contact__box-btn {
  font-weight: 700;
  color: #fff;
  border-radius: 100%;
  border-radius: 100%;
  background: var(--light-grey);
  padding: 16px 11px 16px 14px;

  position: absolute;
  left: 525px;
  top: 10px
}

.contact__box2-email {
  margin-right: 18px;
}

.contact__box-email {
  position: relative;
}


/*! Main End */
/*! Footer Start */

.footer {
  margin-bottom: 45px;
}

.footer__inner {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  gap: 20px;
}

.footer__social {
  margin-left: 240px;
}

.footer__social-link {
  margin-left: 20px;
}

/*! Footer End */