:root {
  --grey: #5c5c5e;
  --white: #f6f4f5;
  --light-grey: #cacad6;
  --black: #070707;


  --font-family: "Helvetica", sans-serif;
  --second-family: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  line-height: 1.4;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto
}

/*! Header Start */

.header {
  border-bottom: 1px solid var(--light-grey);
}

.nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  height: 80px;
}

.menu {
  display: flex;
  gap: 20px;
}

.basket {
  justify-self: end;

  position: relative;

}

.basket span {
  font-size: 11px;
  width: 15px;
  height: 15px;
  background-color: black;
  color: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  right: -2px;
}

.logo {
  justify-self: center;
}


/*! Header End  */

/*! Main Start  */

.top {
  min-height: calc(100vh - 81px);

  background-image: url(../img/aboutBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.title {
  font-weight: 400;
  font-size: 96px;
  margin-bottom: 10px;
  padding-top: 16%;
}

.subtitle {
  font-size: 36px;
  margin-bottom: 5px;
}

.top__text {
  font-size: 13px;
  margin-bottom: 50px;
}

.buy__text {
  font-size: 13px;
  padding-top: 6px;
}

.buy-btn {
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  display: flex;
  text-transform: uppercase;
  padding: 1px;
}

.buy-btn__text {
  color: var(--white);
  padding: 21px 110px;
}

.buy-btn__price {
  background-color: var(--white);
  padding: 21px 105px;
}


.features {
  padding: 100px 0;
}

.features__titles {
  display: flex;
}

.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}

.features__text {
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btn {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tabs__btn-item {
  font-weight: 700;
  margin-bottom: 20px;
}

.tabs__btn-item--active {
  color: var(--black);
}

.tabs__content {
  position: relative;
  min-height: 300px;
}

.tabs__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;

  opacity: 0;
  position: absolute;
  transition: opacitiy 0.3s ease;
}

.tabs__content-item--active{
  opacity: 1;
}

.tabs__content-box h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}

.tabs__content-img{
  grid-row: 1/-1;
  align-self: stretch;
}

.video {
  grid-column: 2/3;

  width: 280px;
  height: 150px;
  background-image: url(../img/contentBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 9px 10px;
}

.video__btn {
  margin-left: 22px;
}

.video span {
  font-size: 13px;
  color: var(--white);
}

/*! Main End */
/*! Footer Start */



/*! Footer End */